.container {
  min-width: 960px;
}

@media only screen and (max-width: 768px) {
  .container {
    min-width: 0;
  }
}

.imgBg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a0965b' fill-opacity='0.41' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  padding: 80px 0 80px 0;
}

.imgWrapper {
  background-color: white;

  max-width: 350px;
  margin: auto;
  padding: 30px;

  text-align: center;
}

@media only screen and (max-width: 768px) {
  .imgBg {
    padding: 20px 0 20px 0;
  }

  .imgWrapper {
    background-color: transparent;
  }
}
