.click {
  cursor: pointer;
  font-weight: 600;
}

.learn {
  margin-top: 14px;

  height: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.7s ease 0s;

  line-height: 1.4;
}

.open {
  max-height: 135px;
}
